<!DOCTYPE html>
<html>
<body>
<div class="ravi">
	
	

<h2 style="text-align: center;color: blue">Login Form</h2>
<%= form_tag("/login", method: "post") do %>
<center>
  <div class="container"> 
    <label style="color:blue !important;"><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>
    <label style="color:blue !important;"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
    <input type="checkbox" checked="checked" style="float:left !important"> <span style="float:left !important">Remember me</span>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  <div style="margin-top: 20px;text-align: center;width:750px">
    <button type="button" class="cancelbtn" style="float:left !important">Cancel</button>
  </div>
</center>
<% end -%>
<%= form_tag("/register", method: "get") do %>
<center>
<div style="text-align: center;width:750px">
 <button type="submit" class="cancelbtn" style="float:right !important">Register</button>
 </div>
 </center>
 <div style="margin-top: 400px"></div>
 <% end -%>
 </div>
</body>
</html>

